
.bg-success {
    background-color: #28a745 !important;
    color: white !important;
  }
  
  .bg-error {
    background-color: #dc3545 !important;
    color: white !important;
  }
  .custom-label-height label {
    height: 80px; /* Set the desired height */
    display: flex;
    align-items: center;
  }
  .description-column {
    width: 40%; /* Adjust the width as needed */
    word-wrap: break-word; /* Ensure long descriptions wrap within the cell */
  }
  
  .table-dark th {
    background-color: #343a40;
    color: white;
    text-align: center;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
  }
  
  h2 {
    color: #343a40;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); /* Customizing striped rows */
  }
  