/* src/components/Layout.css */

html, body {
    height: 100%;
    margin: 0;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  .mt-auto {
    margin-top: auto;
  }
  